@page "/Curriculo"


<h3>Curriculo</h3>


<div class="autor-container">
    <img src="img/henrique.jpg" alt="Foto do autor" class="autor-img" />
    <p><strong>Nome:</strong> Carlos Henrique Leite Barbosa</p>
    <p><strong>Turma:</strong> 3B - Técnico em Informática</p>
    <p><strong>GitHub:</strong> <a href="github do usuario" target="_blank">https://github.com/Batoreia1/git</a></p>
    <p><strong>Idade:</strong> 17 Anos de idade</p>
    <h4>Premiações e Reconhecimentos</h4>
    <ul>
        <li>Menção honrosa na OBMEP (Olimpíada Brasileira de Matemática)</li>
        <li>2 Medalhas de ouro Mangahigh de Matemática, 3 de bronze e 2 de prata</li>
        <li>5x Aluno de Honra – Reconhecimento escolar pelo desempenho geral</li>
        <li>Fluente em inglês - +7 anos de curso.</li>
        <li>Estagio não remunerado de 100 horas na área de Informática.</li>
        <li>Ensino médio Técnico em Informática em andamento 2/3.</li>

        
    </ul>
</div>