@page "/sobreautor"

<h3>Sobre o Autor</h3>

<div class="autor-container">
    <img src="img/Ifro.png" alt="Foto do autor" class="-.logo-ifro" />
    <p>Oi! Eu me chamo <strong>Carlos Henrique Leite Barbosa</strong>. Estudo no IFRO há pouco menos de 3 anos, no curso Técnico em Informática.</p>

    <p>Sou uma pessoa que curte tecnologia, mas também gosta bastante de esportes. Jogo vôlei há quase 4 anos — é uma das minhas maiores paixões. Além disso, gosto de ambientes praianos e do calor, embora o frio também tenha seu charme.</p>

    <p>No futuro, pretendo cursar uma faculdade de <strong>Direito</strong>, pois é uma área que sempre me chamou atenção por envolver argumentação, justiça e raciocínio lógico.</p>

    <p>Esse projeto foi feito como parte dos meus estudos em desenvolvimento com Blazor, unindo o que aprendi na prática com um pouco da minha história.</p>

    <p>Obrigado por visitar!</p>
</div>