@page "/Sobre o autor"


<h3>Sobre o autor</h3>


<div class="autor-container">
    <p><strong>Nome:</strong> Carlos Henrique Leite Barbosa</p>
    <p><strong>Turma:</strong> 3B - Técnico em Informática</p>
    <p><strong>GitHub:</strong> <a href="github do usuario" target="_blank">https://github.com/Batoreia1/git</a></p>
    <p><strong>Idade:</strong> 17 Anos de idade</p>
</div>